<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-ascii-readerwriter</symbolicName>
    <version>1.1.2</version>
    <name>ASCII Product Reader-Writer</name>

    <description>
        Enables BEAM to read and write data products in an appropriate ASCII format.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://www.brockmann-consult.de/</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        <p>Changes from 1.1.1 to 1.1.2</p>
          - change dependency from BEAM 4.9 to BEAM 4.11<br/>
          - change dependency from JUnit 4.8.2 to JUnit 4.11<br/>
        ]]>
    </changelog>


    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader,Writer</categories>

    <extension point="beam-ui:actions">
        <action>
            <text>ASCII</text>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>BEAM-ASCII</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import a ASCII data product.</shortDescr>
        </action>
        <action>
            <text>ASCII</text>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <formatName>BEAM-ASCII</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Export a ASCII data product.</shortDescr>
        </action>
    </extension>

</module>
