<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-decisiontree</symbolicName>
    <version>1.1.2</version>
    <name>OFEW Decisiontree</name>
    <description>An internal component of the OFEW project for image classification based on a decision tree.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Application,Processor</categories>

</module>
